* {
  box-sizing: border-box;
  font-family: 'Lato', sans-serif;
}

html,
body {
  margin: 0;
  padding: 0;
}

/* Add styles here! */
header .max-width-wrapper {
  margin: 0 auto;
  max-width: 1200px;
}

header > .max-width-wrapper {
  margin-top: 5rem;
}

.intro-chunk p {
  max-width: 20rem;
  line-height: 1.5;
}

.intro-chunk p strong {
  color: green;
  cursor: pointer;
}

main {
  background: gray;
  border-top: 8px solid black;
  height: calc(100vh - (172px + 80px + 16px));
}

.card {
  box-sizing: content-box;
  margin: 2rem auto;
  max-width: 1200px;
  background: white;
  border-bottom: 8px solid darkgrey;
  padding: 1rem;
}

.card h2 {
  margin: 0;
}

.indented-heading {
  display: inline-block;
  background-color: greenyellow;
  border-bottom: 8px solid yellow;
  padding: 1rem;
  margin-inline: -1.5rem !important;
}